.chatMessage{
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: #ffffff;
    margin-bottom: 30px
}

.chatReciever{
    margin-left: auto ;
    background-color: #dcf8c6
}